<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

    <img src="{{ site.avatar }}">

  <nav>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/100days">100days</a>
  </nav>

  <div class="sidebar-icons">
    {% include svg.html %}
  </div>

  <div class="sidebar-item">
  <p>
    &copy; {{ site.time | date: '%Y' }} Cindy Liu
  </p>
  
</div>

</div>
